
body{
	 background-image:url(../Images/Background/Glass04.jpg);
   
}
ul>li{
    list-style:none;
}
li>a{
	text-decoration:none;
	color:brown;
}
div>h3>a,div>h2>a,div>h4>a,div>a>h3,div>a>h2,div>a>h4,div>b>a,span>a>h4,span>a>h3{
	color:khaki;
	font-variant:small-caps;
	font-size:18pt;
}

}
.Big-container{
	position: relative;  
	width: 100%; 
	background-color:blue; 
	overflow: hidden;
}
.Sub-container{
	position: relative; 
	left: 50%;
	width: 5000px; 
	text-align: center; 
	margin-left: -2500px;
    background-color:slategrey;
}
.Slider-container{
	position: relative;
	margin: 0 auto;
      top: 0px; 
	  left: 0px; 
	  width: 980px; 
	  height: 400px; 
	  background-image: url(../Images/Background/Metallic_Texture.jpg);
}
#loading{
	position: absolute; 
	top: 0px; 
	left: 0px;
}
#loading-before{
	filter: alpha(opacity=70); 
	opacity: 0.7;
	position: absolute; 
	display: block;
	top: 0px; left: 0px; 
	width: 100%; height: 100%;
}
#loading-after{
	position: absolute; 
	display: block; 
	background: url(../Images/Background/loading.gif) no-repeat center center;
    top: 0px; left: 0px; width: 100%; height: 100%;
}
.slides-container{
	cursor: move; position: absolute; 
	left: 0px; top: 0px; width: 980px;
    height: 400px; overflow: hidden;
}
.slides-sub-container{
	position: absolute; 
	width: 480px; height: 300px; 
	top: 10px; left: 10px;
	text-align: left; line-height: 1.8em; font-size: 12px;
}
.caption{
	display: block; 
	line-height: 1em; 
	text-transform: uppercase; 
	font-size: 52px;
	color: #FFFFFF;
}
.sub-caption{
	display: block; 
	line-height: 1.1em;
	font-size: 2.5em; 
	color: #FFFFFF;
    font-variant: small-caps;
}
.minor-caption{
	display: block; 
	line-height: 1.1em; 
	font-size: 1.5em; 
	color: #FFFFFF;
  font-variant: small-caps;
}
.more-info-img{
	border:0;
	width:215px;
	height:50px;
}
.slider-img{
	position: absolute; 
	top: 23px; left: 480px;
	width: 500px; height: 300px;
}
.arrow-left{
	top: 123px; left: 8px;
}
.arrow-right{
	top: 123px; right: 8px;
}
.thumb-container{
	right: 0px; bottom: 0px;
}
.thumb-slider{
	bottom: 25px; right: 30px; cursor: default;
}



 /* jssor slider arrow navigator skin 07 css */
                    /*
                    .jssora07l                  (normal)
                    .jssora07r                  (normal)
                    .jssora07l:hover            (normal mouseover)
                    .jssora07r:hover            (normal mouseover)
                    .jssora07l.jssora07ldn      (mousedown)
                    .jssora07r.jssora07rdn      (mousedown)
                    */
                    .jssora07l, .jssora07r {
                        display: block;
                        position: absolute;
                        /* size of arrow element */
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                        background: url(../Images/Background/Arrow.png) no-repeat;
                        overflow: hidden;
                    }
                    .jssora07l { background-position: -5px -35px; }
                    .jssora07r { background-position: -65px -35px; }
                    .jssora07l:hover { background-position: -125px -35px; }
                    .jssora07r:hover { background-position: -185px -35px; }
                    .jssora07l.jssora07ldn { background-position: -245px -35px; }
                    .jssora07r.jssora07rdn { background-position: -305px -35px; }
					
					/* jssor slider thumbnail navigator skin 04 css */
                /*
                .jssort04 .p            (normal)
                .jssort04 .p:hover      (normal mouseover)
                .jssort04 .pav          (active)
                .jssort04 .pav:hover    (active mouseover)
                .jssort04 .pdn          (mousedown)
                */

                .jssort04 {
                    position: absolute;
                    /* size of thumbnail navigator container */
                    width: 600px;
                    height: 60px;
                }

                    .jssort04 .p {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 62px;
                        height: 32px;
                    }

                    .jssort04 .t {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: none;
                    }

                    .jssort04 .w, .jssort04 .pav:hover .w {
                        position: absolute;
                        width: 60px;
                        height: 30px;
                        border: #0099FF 1px solid;
                        box-sizing: content-box;
                    }

                    .jssort04 .pdn .w, .jssort04 .pav .w {
                        border-style: dashed;
                    }

                    .jssort04 .c {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 62px;
                        height: 32px;
                        background-color: #000;
                        filter: alpha(opacity=45);
                        opacity: .45;
                        transition: opacity .6s;
                        -moz-transition: opacity .6s;
                        -webkit-transition: opacity .6s;
                        -o-transition: opacity .6s;
                    }

                    .jssort04 .p:hover .c, .jssort04 .pav .c {
                        filter: alpha(opacity=0);
                        opacity: 0;
                    }

                    .jssort04 .p:hover .c {
                        transition: none;
                        -moz-transition: none;
                        -webkit-transition: none;
                        -o-transition: none;
                    }

                    * html .jssort04 .w {
                        width /**/: 62px;
                        height /**/: 32px;
                    }